<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Ads')"></head>
<body>
<div th:replace="fragments/navbar :: myNav"></div>

<form th:action="@{/ads/create}" th:method="post" th:object="${ad}">
    Title:
    <input th:field="*{title}" />
    <br />
    Description:
    <input th:field="*{description}" />
    <br />
    <th:block th:each="category : ${categories}">
        <input type="checkbox" name="categories" th:value="${category.id}"/>
        <label th:text="${category.name}"></label>
    </th:block>
    <input type="submit" />
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>